@media screen and (min-width: 851px){
	*{
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	body{
		font-family: Helvetica, Arial, sans-serif;
	}

	header{
		width: 100%;
		
	}
	.logotipo_cont{
		background-color: rgb(247, 247, 247);
		width: 100%;
	}
	.logotipo_cont img{
		width: 200px;
		margin: auto;
		display: block;
	}
	nav{
		width: 100%;
		background: #505050;
		text-align: center;
	}
	nav ul{
		list-style: none;
	}
	.menu > li{
		position: relative;
		display: inline-block;
	}

	.menu > li > a{
		display: block;
		padding: 15px 20px;
		color: rgb(255, 255, 255);
		font-family: Helvetica, Arial, sans-serif;
		font-size: 1.1em;
		text-decoration: none;
	}

	.menu li a:hover{
		color: #cf803a;
		transition: all .3s;
	}

	/* Submenu*/

	.submenu{
		position: absolute;
		background: #333333;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		transition: opacity 1.5s;
		text-align: left;
	}

	.submenu li a{
		display: block;
		padding: 0.5em;
		color: rgb(255, 255, 255);
		font-family: Helvetica, Arial, sans-serif;
		text-decoration: none;
	}
	.contactame{
		width: 100%;
	}
	.contactame h1{
		text-align: center;
		margin: 0.5em;
	}
	.botones{
		display: flex;
		justify-content: center;
	}
	.botones img:hover{
		padding: 0.5em;
		width: 280px;
		height: 280px;
	}
	.botones img{
		padding: 0.5em;
		width: 250px;
		height: 250px;
	}
	.menu li:hover .submenu{
		visibility: visible;
		opacity: 1;
	}

	footer{
		border-top: black 1px solid;
		height: 5%;
		width: 100%;
		text-align: center;
	}
	footer p{
		margin-top: 1em;
	}
}
@media screen and (max-width: 850px){
	*{
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	body{
		font-family: Helvetica, Arial, sans-serif;
	}

	header{
		width: 100%;
		
	}
	.logotipo_cont{
		background-color: rgb(247, 247, 247);
		width: 100%;
	}
	.logotipo_cont img{
		width: 150px;
		margin: auto;
		display: block;
	}
	nav{
		width: 100%;
		background: #505050;
		text-align: center;
	}
	nav ul{
		list-style: none;
	}
	.menu > li{
		position: relative;
		display: inline-block;
	}

	.menu > li > a{
		display: block;
		padding: 15px 20px;
		color: rgb(255, 255, 255);
		font-family: Helvetica, Arial, sans-serif;
		font-size: 0.8em;
		text-decoration: none;
	}

	.menu li a:hover{
		color: #cf803a;
		transition: all .3s;
	}

	/* Submenu*/

	.submenu{
		position: absolute;
		background: #333333;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		transition: opacity 1.5s;
		text-align: left;
	}

	.submenu li a{
		display: block;
		padding: 0.5em;
		color: rgb(255, 255, 255);
		font-family: Helvetica, Arial, sans-serif;
		text-decoration: none;
	}
	.contactame{
		width: 100%;
	}
	.contactame h1{
		text-align: center;
		font-size: 1.2em;
		margin: 0.5em;
	}
	.botones{
		display: flex;
		justify-content: center;
	}
	.botones img:hover{
		padding: 0.5em;
		width: 215px;
		height: 215px;
	}
	.botones img{
		padding: 0.5em;
		width: 175px;
		height: 175px;
	}
	.menu li:hover .submenu{
		visibility: visible;
		opacity: 1;
	}

	footer{
		border-top: black 1px solid;
		height: 5%;
		width: 100%;
		text-align: center;
	}
	footer p{
		margin-top: 1em;
		font-size: 0.8em;
	}
}