@media screen and (min-width: 871px){
	*{
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	body{
		font-family: Helvetica, Arial, sans-serif;
	}

	header{
		width: 100%;
		
	}
	.logotipo_cont{
		background-color: rgb(247, 247, 247);
		width: 100%;
	}
	.logotipo_cont img{
		width: 200px;
		margin: auto;
		display: block;
	}
	nav{
		width: 100%;
		background: #505050;
		text-align: center;
	}
	nav ul{
		list-style: none;
	}
	.menu > li{
		position: relative;
		display: inline-block;
	}

	.menu > li > a{
		display: block;
		padding: 15px 20px;
		color: rgb(255, 255, 255);
		font-family: Helvetica, Arial, sans-serif;
		font-size: 1.1em;
		text-decoration: none;
	}

	.menu li a:hover{
		color: #cf803a;
		transition: all .3s;
	}

	/* Submenu*/

	.submenu{
		position: absolute;
		background: #333333;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		transition: opacity 1.5s;
		text-align: left;
	}

	.submenu li a{
		display: block;
		padding: 0.5em;
		color: rgb(255, 255, 255);
		font-family: Helvetica, Arial, sans-serif;
		text-decoration: none;
	}

	.menu li:hover .submenu{
		visibility: visible;
		opacity: 1;
	}
	.titulo h1{
		text-align: center;
		margin: 0.5em;
		font-size: 1.9em;
	}
	.contenido{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		justify-content: center;
		align-items: center;
		padding: 0 4px;

	}
	.ejercicio_individual{
		width: 33%;
		height: auto;
		border-radius: 1%;
		border: 0.15em solid rgb(82, 82, 82);
		margin-top: 1em ;
		margin-left:0.5em;
		margin-bottom: 1em;
		padding: 0.5em;
	}
	.ejercicio_individual h1{
		text-align: center;
		font-size: 1.7em;
	}
	.ejercicio_individual h1 a{
		text-decoration: none;
		-webkit-text-stroke: 0.03em rgb(82, 82, 82);
		color: rgb(255, 168, 0);
	}
	.ejercicio_individual h1 a:hover{
		text-decoration: none;
		-webkit-text-stroke: 0.03em rgb(82, 82, 82);
		color: rgb(175, 117, 0);
	}
	.ejercicio_individual img{
		margin: auto;
		display: block;
		margin-top: 0.5em;
		width: 50%;
		height: 20%;
	}
	.ejercicio_individual img:hover{
		margin: auto;
		display: block;
		margin-top: 0.5em;
		width: 52%;
		height: 22%;
	}
	footer{
		border-top: black 1px solid;
		height: 5%;
		width: 100%;
		text-align: center;
	}
	footer p{
		margin-top: 1em;
	}
}
@media screen and (max-width: 870px){
	*{
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	body{
		font-family: Helvetica, Arial, sans-serif;
	}
	
	header{
		width: 100%;
		
	}
	.logotipo_cont{
		background-color: rgb(247, 247, 247);
		width: 100%;
	}
	.logotipo_cont img{
		width: 150px;
		margin: auto;
		display: block;
	}
	nav{
		width: 100%;
		background: #505050;
		text-align: center;
	}
	nav ul{
		list-style: none;
	}
	.menu > li{
		position: relative;
		display: inline-block;
	}
	
	.menu > li > a{
		display: block;
		padding: 15px 20px;
		color: rgb(255, 255, 255);
		font-family: Helvetica, Arial, sans-serif;
		font-size: 0.8em;
		text-decoration: none;
	}
	
	.menu li a:hover{
		color: #cf803a;
		transition: all .3s;
	}
	
	/* Submenu*/
	
	.submenu{
		position: absolute;
		background: #333333;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		transition: opacity 1.5s;
		text-align: left;
	}
	
	.submenu li a{
		display: block;
		padding: 0.5em;
		color: rgb(255, 255, 255);
		font-family: Helvetica, Arial, sans-serif;
		text-decoration: none;
	}
	
	.menu li:hover .submenu{
		visibility: visible;
		opacity: 1;
	}
	.titulo h1{
		text-align: center;
		margin: 0.5em;
		font-size: 1.5em;
	}
	.contenido{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		justify-content: center;
		align-items: center;
		padding: 0 4px;

	}
	.ejercicio_individual{
		width: 33%;
		height: auto;
		border-radius: 1%;
		border: 0.15em solid rgb(82, 82, 82);
		margin-top: 1em ;
		margin-left:0.5em;
		margin-bottom: 1em;
		padding: 0.5em;
	}
	.ejercicio_individual h1{
		text-align: center;
		font-size: 1em;
	}
	.ejercicio_individual h1 a{
		text-decoration: none;
		-webkit-text-stroke: 0.03em rgb(82, 82, 82);
		color: rgb(255, 168, 0);
	}
	.ejercicio_individual h1 a:hover{
		text-decoration: none;
		-webkit-text-stroke: 0.03em rgb(82, 82, 82);
		color: rgb(175, 117, 0);
	}
	.ejercicio_individual img{
		margin: auto;
		display: block;
		margin-top: 0.5em;
		width: 50%;
		height: 20%;
	}
	.ejercicio_individual img:hover{
		margin: auto;
		display: block;
		margin-top: 0.5em;
		width: 52%;
		height: 22%;
	}
	footer{
		border-top: black 1px solid;
		height: 5%;
		width: 100%;
		text-align: center;
	}
	footer p{
		margin-top: 1em;
		font-size: 0.8em;
	}
}
