*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}

header{
	width: 100%;
	
}
.logotipo_cont{
	background-color: rgb(247, 247, 247);
	width: 100%;
}
.logotipo_cont img{
	width: 200px;
	margin: auto;
	display: block;
}
nav{
	width: 100%;
	background: #505050;
	text-align: center;
}
nav ul{
	list-style: none;
}
.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: rgb(255, 255, 255);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	text-decoration: none;
}

.menu li a:hover{
	color: #cf803a;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
	text-align: left;
}

.submenu li a{
	display: block;
	padding: 0.5em;
	color: rgb(255, 255, 255);
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.principal{
	margin-top: 1em;
	font-family: "Roboto", sans-serif;
	width: 100%;

}
.esta_web{
	width: 50%;
	margin: auto;
	display: block;
	text-align: center;
	margin-bottom: 1em;
}
.esta_web h1{
	font-size: 2em;
	margin-bottom: 0.2em;
}
.esta_web p{
	font-size: 1.1em;
	color:rgb(83, 83, 83);
}
.esta_web img{
	width: 400px;
	margin: auto;
	display: block;
}
.esta_web iframe{
	margin-top:0.2em;
	width: 60%;
	height: 40%;
}
footer{
	border-top: black 1px solid;
	height: 5%;
	width: 100%;
	text-align: center;
}
footer p{
	margin-top: 1em;
}
.contruccion img {
	padding: 2em;
	margin: auto;
	width: 500px;
	display: block;
}