*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}
body{
	background-color: rgb(255, 255, 255);
}
header{
	background-color: rgb(187, 187, 187);
	margin-bottom: 1em;
	display: flex;
}
header img{
	margin-left: 5em;
	width: 150px;
	height: 150px;
}
nav{
	width: 70%;	
	font-size: 1.3em;
	margin: auto;
}
.menu{
	float: right;
	list-style: none;
	display: flex;
	flex-direction: row;
}
.menu li{
	margin: 0.2em;
}
.menu > li > a {
	display: block;
	padding: 1em 1.7em;
	color: white;
	text-decoration: none;
	font-weight: bold;
}
.menu > li > a:hover {
	color: rgb(255, 168, 0);
	background-color: rgb(94, 94, 94);
}

.submenu{
	position: absolute;
	display: none;
	list-style: none;
	width: 10.46em;
	background-color: rgba(0,0,0,0.3);
}
.submenu li:hover{
	background-color: rgb(102, 102, 102);
}
.submenu li a{
	display: block;
	color: white;
	text-decoration: none;
}
.submenu li a:hover{
	color:rgb(255, 168, 0) ;
}
.menu li:hover .submenu{
	display: block;
}
.obras{
	font-size: 2em;
	text-align: center;
	margin: auto;
	display: block;
}

footer{
	margin-top: 1em;
	text-align: center;
}