html, body {
    width: 100%; 
    height: 100%; /*Le decimos que ocupe el 100% de la pagina*/
}

body{
    background-image: url("../imagenes/fondoFlamenco.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
header{
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
}
.paginacompleta{
    display: flex;
}
.imagenHeader img{
   float: left;
}
.textoHeader{
    color: white;
    text-align: center;
    width: 20em;
    margin-top: 5em;

}
.publicidadHeader{
 float: right;
 margin-top: 5em;
}

.Cuadro_anuncios{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Anuncio{
    border: solid 0.2em red;
    margin: auto;
    color: red;
}
.cabezaAnuncio img{
    width:20em ;
    padding: 4em;
    margin-left: 2em;
    margin-right: 2em;
    height:20em ;
    border-radius: 50%;

}
.textoAnuncio{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.Anuncio:hover{
    background-color: black;
    color: white;
    
}

.cabezaAnuncio:hover img{
    width:22em ;
 
}
