body {
    font-family:sans-serif;
}
body #corpt {
    background-color:rgb(231, 231, 231);
    display:block;
    margin:auto;
    text-align: center;
    font-size: 13pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body #corpt img {
    border-radius: 50%;
    display:block;
    margin:auto;
}
.primera_parte{
    text-align: center;
    background-image: url(fondo-formulario.jpg);
}
.segunda_parte{
    background-color: brown;
    font-size: 13pt;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
body #important{
    font-weight: bold;
    font-style: italic;
    font-size: 14pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    text-align: center;
    font-size: 16pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.ultimo #ultimo_uno{
    color: rgb(4, 163, 4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
.ultimo #ultimo_dos{
    text-transform: capitalize;
    text-align: justify;
    font-size: 0.5em;
}
.now_parrafo{
    white-space: nowrap;
}
.norm_parrafo{
    white-space: normal;
}
.pre_parrafo{
    white-space: pre;
}
.ultimo #enlace_1{
    text-decoration: none;
    color: goldenrod;
    font-size: 3em;
}
.ultimo #enlace_2:link{
    color: pink;
}
.ultimo #enlace_2:visited{
    color: rgb(111, 111, 111);
}
.ultimo #enlace_2:hover{
    color: rgb(117, 138, 39);
}
.ultimo #enlace_3_img{
    width: 32px;
    height: 32px;
    float: left;
}
.ultimo #enlace_4:hover{
    background-color: indigo;
    color: white;
}